# ~/.clang-format
---
BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 78
AlignTrailingComments: true

---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
